---
layout: default
---
<section id="title" class="container">
		<div class="row">
			<div class="span12">
				{% if page.title %}
				<h1 style="margin-bottom:0;">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
				{% endif %}
				{% if page.subtitle %}
				<p>{{ page.subtitle }}{% endif %}</p>
			</div>
		</div>
</section>
<div class="entry-content">{{ content }}</div>
{% unless page.sharing == false %}
	{% include post/sharing.html %}
{% endunless %}
{% if site.disqus_short_name and page.comments == true %}
<section id="comment">
    <h1 class="title">Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
</section>
{% endif %}