$font-default: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;

$font-icon: FontAwesome;
$font-icon-path: "fontawesome-webfont";

@font-face {
	font-family: 'FontAwesome';
	src: url('fontawesome-webfont.eot');
	src: url('fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
		url('fontawesome-webfont.woff') format('woff'),
		url('fontawesome-webfont.ttf') format('truetype'),
		url('fontawesome-webfont.svgz#FontAwesomeRegular') format('svg'),
		url('fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

// timeline css
@font-face {
	font-family: 'ecoico';
	src:url('../timelineicons/ecoico.eot');
	src:url('../timelineicons/ecoico-.eot#iefix') format('embedded-opentype'),
		url('../timelineicons/ecoico.woff') format('woff'),
		url('../timelineicons/ecoico.ttf') format('truetype'),
		url('../timelineicons/ecoico.svg#ecoico') format('svg');
	font-weight: normal;
	font-style: normal;
}