// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.left-col 		{ opacity: 1!important; }
article 		{ border: none!important; }
body 			{ background: #232527!important; color: #666!important; }
.container .mid-col { background: #1a1c1e!important; }
.container .mid-col .mid-col-container #content article h1.title a { color: #ccced0!important; }
#pagenavi 		{ border-top: 1px solid #373a3d!important; border-bottom: 1px solid #373a3d!important; }

/* Common Styles ------------------------------------------ */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

a { 
	color: #f5c11e;
}

a:hover, a:focus { color: #656a71; }

img {
	/* Responsive images (ensure images don't scale beyond their parents) */
	max-width: 100%;
	/* Part 1: Set a maxium relative to the parent */
	width: auto\9;
	/* IE7-8 need help adjusting responsive images */
	height: auto;
	/* Part 2: Scale the height according to the width, otherwise you get stretching */
	border: 0;
	-ms-interpolation-mode: bicubic;
}

hr { margin: 20px 0; border: 0; border-top: 1px solid #373a3d; border-bottom: 0; }
hr.dotted { border-top: 1px dotted #373a3d; }
hr.clear-top { margin-top: 0; }
hr.clear-bottom { margin-bottom: 0; }

article p + img, article h1 + img, article h2 + img, article h3 + img, article h4 + img, article h5 + img, article h6 + img { margin: 14px 0 23px 0; }

address { display: block; margin-bottom: 20px; font-style: normal; line-height: 1.5; }

.vertical-align { display: table-cell; vertical-align: middle; }

.color-text { color: #f5c11e; }

::-moz-selection { background: #f5c11e; color: white; }
::selection { background: #f5c11e; color: white; }

.intro p {
	font-size: 22px;
	text-align: center;
	letter-spacing: -1px;
	line-height: 1.3;
	padding: 0 7% 0 7%;
	-webkit-font-smoothing: antialiased;
	color: white;
}

section.intro {
	padding: 40px 0 48px 0;
}

.service-desc h5 {
	color: #D1D1D1;
	font-size: 16px;
	padding-bottom: 5px;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
.service-desc p {
	color: #7E7E7E;
	-webkit-font-smoothing: antialiased;
}

/* Services Icons ------------------------------------------ */

.service-icon {
	width: 90px;
	height: 90px;
	float: left;
	overflow: hidden;
	margin-top: 14px;
	background-position: right top;
	background-repeat: no-repeat;
}

.service-icon.icon1 {
	background-position: right top;
	background-repeat: no-repeat;
	background-image: url("../img/services/strategy.png");
	background: -Webkit-image-set(url("../img/services/strategy.png") 1x, url("../img/services/strategy@2x.png") 2x) right top no-repeat; /* Image for Retina */
}

.service-icon.icon2 {
	background-position: right top;
	background-repeat: no-repeat;
	background-image: url("../img/services/creative.png");
	background: -Webkit-image-set(url("../img/services/creative.png") 1x, url("../img/services/creative@2x.png") 2x) right top no-repeat; /* Image for Retina */
}

.service-icon.icon3 {
	background-position: right top;
	background-repeat: no-repeat;
	background-image: url("../img/services/dev.png");
	background: -Webkit-image-set(url("../img/services/dev.png") 1x, url("../img/services/dev@2x.png") 2x) right top no-repeat; /* Image for Retina */
}

.service-icon.icon4 {
	background-position: right top;
	background-repeat: no-repeat;
	background-image: url("../img/services/click.png");
	background: -Webkit-image-set(url("../img/services/click.png") 1x, url("../img/services/click@2x.png") 2x) right top no-repeat; /* Image for Retina */
}

.service-desc {
	margin: 0 0 72px 120px;
}

/* Clients ------------------------------------------ */

#clients {
	text-align: center;
	height: 90px;
}

#clients .vertical-align {
	height: 90px;
}

#clients ul li {
	display: inline-block;
	margin: 20px;
	height: 50px;
	overflow: hidden;
}

#clients ul li:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
	-webkit-transition: all 0.5s linear;
	   -moz-transition: all 0.5s linear;
	   	-ms-transition: all 0.5s linear;
	     -o-transition: all 0.5s linear;
	     	transition: all 0.5s linear;

}

#clients + footer {
	margin-top: 20px;
}

#clients .span12, #clients .vertical-align, #clients .unstyled {
	width: 95%;
	display: inline-block;
}


.row {
*zoom: 1;
}
.row:before,
.row:after {
display: table;
content: "";
line-height: 0;
}
.row:after {
clear: both;
}
[class*="span"] {
float: left;
min-height: 1px;
}

@media (max-width: 767px) {

	.row,
	.thumbnails {
		margin-left: 10px;
		margin-right: 10px;
	}
	.row .row {
		margin-left: 0;
		margin-right: 0;
	}
}
@media (max-width: 479px) {
	.intro p {
		font-size: 17px;
	}

	.service-desc p {
		font-size: 14px;
	}

	.hidden-phone {
		display: none;
	}

}
@media (min-width: 768px) and (max-width: 979px) {
	.row {
		*zoom: 1;
	}
	.row:before,
	.row:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row:after {
		clear: both;
	}
	[class*="span"] {
		float: left;
		min-height: 1px;
		margin-left: 20px;
	}

	.span6 {
		width: 95%;
	}
}

@media (min-width: 1200px) {
	.row {
		*zoom: 1;
	}
	.row:before,
	.row:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row:after {
		clear: both;
	}
	[class*="span"] {
		float: left;
		min-height: 1px;
		margin-left: 30px;
	}
	.span12 {
	
	}
	.span6 {
		width: 45%;
	}

}

/* --------------------------------------------------------
	 Info block
-------------------------------------------------------- */

.info-block {
	position: relative;
	overflow: hidden;
	margin: 30px 0;
	background: #232527;
	padding: 35px 40px 25px 40px;
}

.info-block img {
	display: block;
	width: 100%;
	max-width: intrinsic;
	margin: 5px 0 35px 0;
}

.ib-text {
	position: relative;
	padding-right: 30%;
}

.ib-text p { 
	margin-top:0px!important;
}

.info-block a.btn {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -28px;
}
/* --------------------------------------------------------
	 Buttons
-------------------------------------------------------- */

.btn {
	display: inline-block;
	margin: 10px 10px 10px 0;
	padding: 11px 20px;
	background: #4e5257;
	color: white;
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	-webkit-font-smoothing: antialiased;
	text-decoration: none!important;
}

.btn:hover, .btn:focus {
	background: #f5c11e;
	color: #1a1c1e;
}

.btn.small {
	padding: 6px 12px;
	font-size: 10px;
}

.btn.large {
	padding: 12px 24px;
	font-size: 14px;
}

.btn.color {
	background: #f5c11e;
}

.btn.color:hover, .btn.color:focus {
	background: #4e5257;
	color: #ccced0;
}

.btn.dark {
	background: #232527;
	color: #ccced0;
}

.btn.dark:hover, .btn.dark:focus {
	background: #4e5257;
	color: white;
}

.btn.rounded {
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	   		border-radius: 4px;
}

input#submit {
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	   		border-radius: 4px;
	background: none repeat scroll 0 0 #4E5257;
    border: medium none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 10px 10px 0;
    padding: 11px 20px;
    text-transform: uppercase;
    width: 170px!important;
    padding: 10px 20px !important;
    transition: all 0.1s linear 0s;
}

#buttons p {
	display: block;
	margin-bottom: 10px;	
}

.btn:active {
	background: white !important;
	color: #1a1c1e !important;
	-webkit-transition: all 0s linear !important;
	   -moz-transition: all 0s linear !important;
	     -o-transition: all 0s linear !important;
	     	transition: all 0s linear !important;
}

button {
	padding: 10px 20px !important;
	-webkit-transition: all .1s linear;
	   -moz-transition: all .1s linear;
	     -o-transition: all .1s linear;
	     	transition: all .1s linear;
}

button.small {
	padding: 4px 12px !important;
}

button.large {
	font-size: 14px;
	padding: 12px 24px !important;
}

button.search {
	position: relative;
	margin: 0;
	top: 2px;
	left: -28px;
	color: #4e5257;
	font-size: 16px;
	padding: 0 !important;
	background: none;
}

button.search:hover {
	color: white;
	background: none;
}

.btn i {
	margin-right: 8px;
}
